/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
    margin-bottom: 20px;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.formulario__input-error {
    color:#bb2929 ;
	font-size: 12px;
	margin-bottom: 20px;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__mensaje {
	height: 30px;
    width: 40%;
    text-align: center;
    margin: auto;
	line-height: 25px;
	background: #F66060;
	padding-bottom: 5px;
    margin-bottom: 5px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}


.ocultar {
    opacity: 0;
}
