body{
    background-color: #eae2b7;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
p{
    font-family: 'Arial', 'verdana', 'italica', cursive;
}
/* Grilla de la web */
.container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    min-width: 100%;
}
img{
    margin:5px;
}

.encabezado{
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    background-color: #90a955;
}
/* Tamaño de encabezados */
.encabezado h1{
    font-size: 25px;
}
.encabezado h2{
    font-size: 20px;
}

#perfil {
    grid-column: 1/2;
    background-color: #31572c;
    grid-row: 1/3;
}
.secciones{
    background-color: #4f772d;
    grid-column: 2/4;
    color: black;
}
#experiencia{
    margin-top: 5px;
}
#experiencia-titulo{
    position: relative;
    left:35%
}
#experiencia-subtitulo{
    text-align: center;
}
#experiencia p{
    margin-left:5px;
}
#habilidades{
    margin-top: 5px;  
}
#habilidades-titulo{
    position: relative;
    left:35%
}
/* estilos a imagen de perfil */
#foto-perfil{
    height: 180px;
    width: 180px;
    position: relative;
    left: 30%;
    border-radius: 150px;
    border: solid 5px #ecf39e;
    margin-bottom: 8px;
}
#sobremi{
    color: black;
    text-align: center;
}
#sobremi-titulo{
    position: relative;
    left:30%
}
/* iconos de datos del perfil */
.iconos-perfil{
    display: flex;
    justify-content: center;
}
#icon-gmail{
    width: 35px;
    height: 35px;
}

#icon-wp{
    width: 35px;
    height: 35px;
}
#icon-linkedin{
    width: 35px;
    height: 35px;
}
/* FIN iconos de datos del perfil */

h3{
    border-radius: 15px;
    background-color: #ecf39e;
    width:200px;
    text-align: center;
    padding: 5px 5px;
}
h3:hover{
    background-color: #81b29a;
}
footer {
    background-color: #132a13;
    color: white;
}
.networks {
    background-color: #588157;
    position:relative;
    left: 70%;
}
.networks:hover{
    background-color: #344e41;
}

.networks img {
    width: 20px;
    height: 20px;
}
.copy h6{
    width: 500px;
    position:relative;
    left: 35%;
    top:30px;
}


